<div>
  <tr>
  <%= form_for Leave.new do |f| %>
  
  <%= f.label :firstname %>
  <%= f.text_field :firstname %> <br />

  <%= f.label :start_date %>
  <%= f.date_field :start_date %> <br />
  
  <%= f.label :end_date %>
  <%= f.date_field(:end_date) %><br />

  <%= f.label :leave_type %>
  <%= f.collection_select :leave_type, LeaveType.all, :id, :name, include_blank: true %><br />

  
    <%=f.label :image, style: "display: block" %>
    <%= f.file_field :image %><br />




  <%= f.submit  %>
<% end %>
</tr>
</div>




